* {
    box-sizing: border-box;
 }
 
 body {
    background-color:#f26724;
    font-family:Arial, Helvetica, sans-serif;
 }

 .form {
    max-width: 400px;
    min-width: 270px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
 }
 .form-inner {
    padding: 50px;
 }
 .form-inner input, .form-inner textarea {
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
 }

 .form-inner p {
    margin: 20px 0 10px;
    font-size: 18px;
    color: #5e666d;
 }

 .form-inner input[type="submit"] {
    width: 100%;
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
 }

 .form-inner input[type="text"], .form-inner input[type="password"], .form-inner input[type="date"], .form-inner input[type="number"], .form-inner textarea {
    width: 100%;
 }

 .form-inner textarea {
    resize: none;
 }

 .form-inner input[type="radio"] {
    margin: 0 5px 0 15px;
 }

 .form-inner span {
    color: #484f54;
    font-size: 14px;
 }

 .form-inner h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }

 .form-inner a {
    color: #484f54;
    font-size: 14px;
    text-decoration: none;
    padding: 0 20px;
    margin-bottom: 10px;
 }